.headerContainer {
    width: 100%;
    background-color: white;
    height: fit-content;
    padding: 1rem 5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    display: flex;
    gap:4rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.searchBar {
    border: 1px solid lightgray;
    outline: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    padding: 0.1rem 0.5rem;
    width: 40rem;
    flex-grow: 1;
}

.searchBar:focus {
    outline: 2px solid gray;
}

/* search input */
.searchInput {
    border: none;
    width: 100%;
    padding: 0.5rem;
    font-size: var(--font-sm);
    border-radius: 0.2rem;
   
}

.searchInput:focus {
    outline: none;
}

.headerNav {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.headerNav div:hover {
    cursor: pointer;
    color: var(--clr-primary);
}